*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  font-family: sans-serif;
  background-color: yellowgreen;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px ;
  font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 20px;
}


.freeCodeCamp-logo{
  width: 100%;
  
}

.contenedor-principal{
  width: 100%;
  text-align: center;
 
}

@media (min-width: 1080px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,body{
    font-family: sans-serif;
    background-color: yellowgreen;
  }
  
  .App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px ;
    font-family: Lato, sans-serif;
  }
  
  .freecodecamp-logo-contenedor{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  }
  
  
  .freeCodeCamp-logo{
    width: 60%;
    
  }
  
  .contenedor-principal{
    height: 550px;
    min-width: 600px;
    display: flex; flex-wrap: wrap;flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
   
  }
}

